{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
                <h2>Correo Enviado</h2>
                <hr> <p>Hemos enviado instrucciones para restablecer tu contraseña a la dirección de correo electrónico que indicaste.</p>
                <p>Por favor, revisa tu bandeja de entrada. No olvides revisar también la carpeta de spam.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}